@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

html {
  font-family: 'Sunflower', sans-serif;
}

::-webkit-input-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-start;
  margin: 10px;
  bottom: 0;
}

.thumbnail {
    display:flex;
    flex-direction: column;
    margin: 4px;
    height: 300px;
    width: 200px;
}

.thumbnail-img {
    height: 70%;
    width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content h3{
  text-align: center;
}
